/***********
   Boxes
***********/

#wrapper {
  display: inline-block;
  min-width: 40%;
  max-width: 40%;
}

.box {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

/***********
 X's and O's
***********/

.red_x {
  text-align: center;
  font-weight: 900;
  color: red;
}

.blue_o {
  text-align: center;
  font-weight: 900;
  color: red;
}